{% extends "layout.html" %}
{% block content %}
	<div class="mbody">
	    <div class="about">
	      <div class="service">
	          <h2> Peter McLay </h2>
	          <img src="../static/images/me3.jpg">
	          <p> 
	            I am currently a third-year student at the University of Western Ontarion, studying Mechatronic Systems Engineering. I developed this website to help others get an idea of who I am, what I do at school, and showcase some of my accomplishments over the past few years.
	          </p>
	          <p>
	            Mechatronic systems engineers combine mechanical, electrical, computer, control, and systems design to create smart solutions to everyday problems. Sensors and intelligent control enable more functional, reliable and versatile systems in areas such as healthcare, transportation, manufacturing, and household products. I chose this program  because I love the challenging and open-ended problems software engineering has to offer, but I also enjoy working hands on, designing and developing electro-mechanical systems.
	          </p>
	          <p>
	            In 2014, I started school at the University of Western Ontario, however halfway through my first semester I was diagnosed with rhabdomyosarcoma, a rare type of cancer affecting kids. I had to drop out of school to pursue treatment which included a year long regime of intensive chemotherapy and radiation. After nearly two years away from school, I decided to give engineering a second try. In the spring 2017, I finally completed my first year of university making the Dean's Honor List, while still receiving chemotherapy weekly. The following summer I finally finished two and a half years cancer treatment and am happy to call myself a cancer survivor! 
	          </p>
	          <h4>Thank You for Visiting</h4>

	      </div>
	      <div class="service2">
	          <h2> Contact Me </h2>
	          <p> Send me an email at pmclay@uwo.ca</p>
	          <h2> Follow Me: </h2>
	          <ul class="social">
	            <li><a class="dif" href="https://www.instagram.com/petermclay4/?hl=en" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> </a> </li>
	            <li><a class= "dif" href="https://github.com/PeterMclay" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> </a> </li>
	          </ul>
	          <img src="../static/images/me2.jpg">
	      </div>
	    </div>
	</div>
{% endblock content %}