{% extends "layout.html" %}
{% block content %}
      <section class="body">
           
            <h4 class="boop">I am a third year student studying Mechatronic Systems Engineering at the University of Western Ontario. Take a look at some of my academic and extracuricular engineering projects I have taken part in! </h4>
            
      </section>
      <div class="grid">

            <div class="container2">
                <a href="/web_development">
                  <img src="../static/images/webdev.jpg">
                  <h4 class="title"> Web Development </h4> 
                  <p class="date"> August 2018 </p>
                  <p>  Learned Python, Flask, HTML and CSS to develop this website.</p>
                </a>
            </div>
            
            <div class="container2">
                  <a href="/mechatronic_design">
                        <img src="../static/images/robot.jpg">
                        <h4 class="title"> Mechatronic Design </h4> 
                        <p class="date"> January - April 2018 </p>
                        <p> Learned about the design process employed for the development of mechatronic devices and systems. Key components include microcontrollers, programming, sensors and actuators.</p>
                  </a>
            </div>
            <div class="container2">
                  <a href="/object_oriented_programming">
                        <img src="../static/images/code.jpg">
                        <h4 class="title"> Object Oriented Programming </h4> 
                        <p class="date"> Septermber - December 2017</p>
                        <p> Applied object-oriented concepts in C++ such as classes, objects, data encapsulation, inheritance, and polymorphism and implemented data structures such as linked lists, stacks, and queues to solve software problems.</p>
                  </a>
            </div>
      </div>
<!--
      <div class="grid2">
      <div class="container2">
        <a href="#">
          <img src="images/arduino.jpg">
          <h4 class="title"> Mechatronic Design </h4> 
          <p class="date"> October 2, 2018 </p>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing</p>
        </a>
      </div>
      <div class="container2">
        <a href="#">
          <img src="images/code.jpg">
          <h4 class="title"> Object Oriented Programming </h4> 
          <p class="date"> October 2, 2018 </p>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing</p>
        </a>
      </div>
      <div class="container2">
        <a href="#">
          <img src="images/circuits.jpg">
          <h4 class="title"> Electrical Instrumentation </h4> 
          <p class="date"> October 2, 2018 </p>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing</p>
        </a>
      </div>
      </div>
-->
{% endblock content %}