
body {
  margin: 0;
  background: #F8F8F8;
  font-family: Arial, Helvetica, sans-serif;
  color: #333
  letter-spacing: .1rem;
}

.body{ 
  margin-top: 0;
  width: 80%;
  margin: auto;
  text-align: center;
  background: #F8F8F8;
}

/******************* NavBar ***************/
.container {
  width: 80%;
  margin: 0 auto;
}

.container h1{
  color: #333;
  padding: 0;
  margin: 10px 0 0 0;
  float: left;
}

header {
  background: white ;
  border-bottom: solid #ccc 1px;
  /*border-bottom: solid #192BC2 1.5px;*/
  box-shadow: 0 0 11px rgba(33,33,33,.2)
  /*margin-bottom: 50px;*/
}

header::after {
  content: '';
  display: table;
  clear: both;
}

/*.logo {
  margin: 30px 0px 0px 0px;
  width: 20%;
  padding: 0;
  float: left;
  display: block;
}
*/
nav {
  float: right;
}

nav ul {
  margin-top: 18px;
  margin-right: 50px;
  margin-bottom: 0;
  padding:0;
  list-style: none;
}

nav li {
  font-weight: 700;
  font-size: large;
  margin: 0;
  padding: 5px 0 0 40px;
  display: inline-block;
  position: relative;
}

nav a {
  color: #cc0000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #cc0000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #cc0000;
  position: absolute;
  top: -5px;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 60%;
}

/***************** Box 1 ******************/

.boop{
  margin-top:30px;
  margin-bottom: 30px;
}

.grid{
  margin: .5vw;
  display: -ms-flexbox;
  display: inline-block;
  position: relative;
  -ms-flexbox-wrap: wrap;
  -ms-flexbox-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

.grid div{
  /*border: solid #e0e0e0 1px;*/
  background-color: white;
  -webkit-box-flex: auto;
  display:inline-block;
  -ms-flex: auto;
  flex: auto;
  width: 250px;
  margin: 0vw 4vw 4vw 4vw;
  padding: 30px 30px 5px 30px;
  /*text-align: center;*/
}

.grid div img{
  margin: auto;
  padding: auto;
  width: 100%;
  height: auto;
}

.container2{
  transition: box-shadow .3s;
  border: solid #ccc 1px;
  border-radius: 4px;
}

.container2:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.container2 a{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

.container2 a:hover h4{
  color: #cc0000;
}

.container2 h4{
  color:#333;
  text-align: left;
  margin-top:5px;
  margin-bottom: 5px;
  padding: 0;
}
.date{
  font-size: 13px;
  color: grey;
  margin: 0;
  padding: 0;
}


@media screen and (max-width: 400px){
  .grid div{
    margin:0;
  }

  .grid{
    padding:0;
  }
}

/********************* Box 2 ******************/

.grid2{
  margin: .5vw;
  display: -ms-flexbox;
  display: inline-block;
  position: relative;
  -ms-flexbox-wrap: wrap;
  -ms-flexbox-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

.grid2 div{
  border: solid #e0e0e0 1px;
  background-color: white;
  -webkit-box-flex: auto;
  display:inline-block;
  -ms-flex: auto;
  flex: auto;
  width: 250px;
  margin: 0vw 4vw 4vw 4vw;
  padding: 30px 30px 5px 30px;
  /*text-align: center;*/
}

.grid2 div img{
  margin: auto;
  padding: auto;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 400px){
  .grid2 div{
    margin:0;
  }

  .grid2{
    padding:0;
  }
}

/********************* About *****************/
.mbody{
  color: #333;
  margin-top: 10px;
  background: #F8F8F8;
}
.about{
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.about:after{
  content:"";
  display: block;
  clear:both;
}

.service h2, h4{
  color: #333;
  margin: 10px 0;
  text-align: center;
}

.service2 h2, .service2 p{
  color: #333;
  margin: 10px 0;
  text-align: center;
}

.service{
  border: solid #ccc 1px;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  float:left;
  background: #fff;
  width: 58.66%;
  margin: 1%;
  padding: 1%;
}

.service p{
  padding: 5px 30px 5px 30px;
}

/*.service:hover{
  border: solid #F64C72 1.5px;
}
*/

.service img{
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.service2{
  border: solid #ccc 1px;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  float:left;
  background: #fff;
  width: 29.33%;
  margin: 1%;
  padding: 1%;
}

/*.service2:hover{
  border: solid #F64C72 1.5px;
}*/

.service2 ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.service2 li {
  padding-top: 0px;
  display: inline-block;
  font-size: 30px;
  letter-spacing: 10px;
}

.service2 img{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.service2 a{
  text-decoration: none;
  color: black;
}

.service2 a:hover{
  color: #cc0000;
}


/******** Blog Post *****/
.blog{
  width: 80%;
  margin: auto;
}
.blog h1{
  color: #333;
  text-align: center;
}
.blog img{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content{
  margin-top:10px;
  margin-bottom: 20px;
  background-color: white;
  border: solid #ccc 1px;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  padding: 10px 30px 10px 30px;
}

.content h3{
  color:#333;
  text-align: center;
}

.video{
  margin: 0;
  padding-bottom: 55.25%;
  padding-top: 25px;
  position: relative;
}

.video iframe{
  position: absolute;
  top:0px;
  left:0px;
  height: 100%;
  width:100%;
}

.content a{
  text-align: center;
  color: black;
  text-decoration: none;
}

.content a:hover{
  color: #cc0000;
}
.content h4:hover{
  color: #cc0000;
}

.content h5{
  color:#333;
  margin: 0;
}

/***************** Footer *******************/

.foot{
  text-align: center;
  height: 30px;
  color: #333;
  height: 90px;
  background: white;
  border-top: solid #ccc 1px;
  box-shadow: 0 0 11px rgba(33,33,33,.2)
}

.foot p{
  padding-top: 5px
  padding-bottom: 30px;
}

.foot ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.foot li {
  padding-top: 10px;
  display: inline-block;
  font-size: 30px;
  letter-spacing: 10px;
}

.foot a{
  text-decoration: none;
  color: black;
}

.foot a:hover{
  color: #cc0000;
}

