{% extends "layout.html" %}
{% block content %}
	<div class = "blog">
	    <h1> Web Development </h1>
	    <div class = "content">
	      <img src="../static/images/webdev2.jpg">
	      <p>
	        During the summer of 2018 I was looking to expand my programming abilities and learn a new language. After a lot of research, I decided that Python is one of the most popular programming language at the moment, used by many big companies such as Google, Facebook, and Instagram. It is also a fairly easy to learn and use which was important to me as I planned to teach it to myself. After a few months I was confident with my ability with python and decided start a project. 
	      </p>
	      <img src="../static/images/python.jpg">
	      <p>
	        I wanted a way for others to get a better idea of who I am and what I do at school, so I decided to make this website which could help document some of my accomplishments. I used the Flask framework to implement my newly learned python skills into a web application. Unfortunately, I had no experience with HTML or CSS so it took some time, to get confident enough with the scripting languages (mostly CSS). Finally, I was able to put everything in place to develop this website which is hosted through PythonAnywhere. Although it is not perfect, I am very happy with the results and hope to make improvements as time goes on!
	      </p>

	      <p> All the files used for this website can be found in the GitHub Repository <strong><a href="https://github.com/PeterMclay/Flask-Web-Development" target="_blank"> HERE </a></strong> </p>

	      <p></p>
	    </div>
	</div>
{% endblock content %}